* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  height: 600px;
  background-image: url("front2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
